$white: #ffffff;

$primary-color: #1BC29A;

$accent-text-color: #198C71;
$main-text-color: #000000;
$secondary-text-color: #5F5F5F;
$light-text-color: #A4A4A4;
$link-color: #2657b7;

$border-color: #EAEAEA;
$error: #D82B2A;

$box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
$box-shadow-hover: 5px 5px 6px rgba(0, 0, 0, 0.22);

$radius: 5px;

$md-device: 816px;
$xs-devise: 425px;

