<template>
    <div class="result__row">
        <div class="result__title">
            <slot name="title"></slot>
        </div>
        <div class="result__info">
            <slot name="text"></slot>
        </div>
    </div>
</template>