<template>
    <section class="content">
        <div class="content__container">
            <div class="content__row">
                <div class="content__col">
                    <div class="img-car">
                        <div class="img-car__big">
                            <div class="img-car__item"
                                 :style="{ backgroundImage: `url(${additionalCarPhotos[0]})`}"></div>
                        </div>
                        <div class="" v-if="additionalCarPhotos.length > 1">
                            <div class="img-car__small">
                                <div class="img-car__item"
                                     :style="{ backgroundImage: `url(${additionalCarPhotos[1]})`}"></div>
                            </div>
                            <div class="img-car__small">
                                <div class="img-car__item"
                                     :style="{ backgroundImage: `url(${additionalCarPhotos[2]})` }"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__col">
                    <div class="result">
                        <content-row>
                            <span slot="title">Владелец:</span>
                            <strong slot="text">{{ car.owner }}</strong>
                        </content-row>

                        <content-row>
                            <span slot="title">Модель</span>
                            <strong slot="text">{{ car.modelName }}</strong>
                        </content-row>

                        <content-row>
                            <span slot="title">Год выпуска:</span>
                            <strong slot="text">{{ car.year }}</strong>
                        </content-row>

                        <content-row>
                            <span slot="title"> Кол-во владельцев:</span>
                            <div slot="text">
                                {{ car.owners.length }}
                                <small>
                                    (<button
                                            class="result__btn-drop"
                                            v-if="car.owners.length"
                                            @click.prevent="dropDown = !dropDown"
                                    >
                                        {{ dropDown ? 'свернуть список': 'развернуть список' }}
                                    </button>)
                                </small>
                                <ul class="list-drop" v-if="car.owners.length && dropDown">
                                    <li
                                            class="list-drop__li"
                                            v-for="user in car.owners"
                                    >
                                        {{user.fullName}}
                                        <span class="nowrap">
                                            ({{user.period[0]}} - {{user.period[1] ? user.period[1] : 'Настоящее время' }})
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </content-row>

                        <content-row>
                            <span slot="title">Факты ДТП:</span>
                            <div slot="text">
                                <div class="result__info">
                                    <div class="" v-if="car.crashes.length !== 0">
                                        <span class="" v-for="date in car.crashes">
                                            {{ date.date | toDate }}
                                            <small v-if="date.sourceLink">
                                                (<a :href="date.sourceLink" target="_blank">детальней</a>)
                                            </small>
                                            <small v-else class="nowrap">
                                                (нет данных)
                                            </small>
                                        </span>
                                    </div>
                                    <small v-else class="nowrap">
                                        (нет данных)
                                    </small>
                                </div>
                            </div>
                        </content-row>

                        <content-row>
                            <span slot="title">VIN:</span>
                            <span slot="text">{{ car.VIN }}</span>
                        </content-row>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import ContentRow from './ContentRow.vue'

    export default {
        components: {
            contentRow: ContentRow
        },
        data() {
            return {
                dropDown: false
            }
        },
        computed: {
            ...mapState(['car']),
            additionalCarPhotos() {
                return this.car.photos.slice(0).filter(i => i.length > 0);
            }
        },
        watch: {
            car() {
                this.dropDown = false
            }
        },
        filters: {
            toDate: (value) => {
                let newDate = new Date(+value * 1000);
                const monthNames = [
                    'января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября',
                    'ноября', 'декабря'
                ];
                let currDate = newDate.getDate();
                let currMonth = newDate.getMonth();
                let currYear = newDate.getFullYear();

                return `${currDate} ${monthNames[currMonth]} ${currYear}`

            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/css/vars.scss';

    .img-car {
        display: flex;
        &__big {
            width: 200px;
            height: 180px;
            padding: 4px;
            margin-left: -4px;
        }
        &__small {
            padding: 4px;
            width: 86px;
            height: 86px;
            margin-right: -4px;
        }
        &__item {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
            width: 100%;
            height: 100%;
        }
    }

    .list-drop {
        margin: 10px 0;
        padding: 0;
        list-style: none;
        &__li {
            padding-bottom: 10px;
            color: $secondary-text-color;
            margin-left: 1em;
            &:before {
                content: "\2022";
                color: $primary-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }
    }

    .content {
        margin: 17px 0;
        &__container {
            max-width: 784px;
            margin: 0 auto;
            padding: 0 16px;
            @media(max-width: $md-device) {
                padding: 0 10px;
            }
        }
        &__row {
            display: flex;
            margin: 0 -7.5px;
            @media(max-width: $md-device) {
                flex-direction: column;
            }
        }
        &__col {
            padding: 0 7.5px;
            @media(max-width: $md-device) {
                padding: 7.5px;
            }
        }
    }

    .result {
        flex: 0 0 auto;
        &__row {
            display: flex;
            margin-bottom: 10px;
            @media(max-width: $xs-devise) {
                flex-direction: column;
            }
        }
        &__title {
            min-width: 140px;
            color: $secondary-text-color;
            font-size: 14px;
            @media(max-width: $xs-devise) {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        &__btn-drop {
            outline: none;
            background: inherit;
            border: none;
            color: $link-color;
            padding: 0;
            display: inline-block;
            cursor: pointer;
        }
    }

    a {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
    }

</style>