<template>
    <footer class="footer">
        <div class="footer__container">
            <p class="footer__copyright">
                <strong class="footer__copyright">© 2019</strong>
                <br>
                Информация предоставляется исключительно в ознакомительных целях.
            </p>
        </div>
    </footer>
</template>

<style lang="scss">
    @import '../assets/css/vars.scss';

    .footer {
        padding: 9px 0;
        border-top: 1px solid $border-color;
        &__container {
            max-width: 784px;
            margin: 0 auto;
            padding: 0 16px;
            @media(max-width: $md-device) {
                padding: 0 10px;
            }
        }
        &__copyright {
            text-align: center;
            color: $light-text-color;
            font-size: 10px;
        }
    }
</style>
