<template>
    <header class="header">

        <div class="header__container">
            <strong class="header__text">
                Проверка автомобилья по номерному знаку
            </strong>
            <div class="header__form">
                <input
                        type="text"
                        v-model="carNumber"
                        class="header__input"
                        :class="{header__input_error: error}"
                        @keyup.enter="getData"
                        placeholder="Номерной знак автомобиля (например  AA9999AA)"
                >
                <span class="header__error" v-if="error">
                    Введите коректный номер: например AA9999AA
                </span>
                <button
                        @click.prevent="getData"
                        class="btn header__btn"
                >
                    <strong>
                        Искать
                    </strong>
                </button>
            </div>
        </div>
    </header>
</template>

<script>
    import {mapActions} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        data() {
            return {
                carNumber: '',
                error: false,
                isFetching: false
            }
        },
        methods: {
            ...mapActions(['loadData']),
            ...mapMutations(['toggleVisibleCar']),
            async getData() {
                if (this.isFetching) {
                    return;
                }

                if (this.carNumber.length !== 8 || !(/^[A-Z]{2}[0-9]{4}[A-Z]{2}$/).test(this.carNumber)) {
                    this.error = true;
                    this.toggleVisibleCar(false);
                    return;
                }

                this.isFetching = true;

                try {
                    await this.loadData(this.carNumber);
                } catch (err) {
                    this.error = true;
                    this.toggleVisibleCar(false);
                    throw err;
                } finally {
                    this.isFetching = false;
                }

                this.error = false;
                this.toggleVisibleCar(true);
            }
        },
    }
</script>

<style lang="scss">
    @import '../assets/css/vars.scss';

    .header {
        background: $primary-color;
        padding: 12px 0 24px;
        &__container {
            max-width: 784px;
            margin: 0 auto;
            padding: 0 16px;
            @media(max-width: $md-device) {
                padding: 0 10px;
            }
        }
        &__text {
            font-size: 16px;
            line-height: normal;
            color: $white;
            margin-bottom: 8px;
            display: block;
        }
        &__form {
            display: flex;
            justify-content: space-between;
            position: relative;
            @media(max-width: $xs-devise) {
                flex-direction: column;
            }
        }
        &__error {
            position: absolute;
            left: 0;
            bottom: -19px;
            color: $error;
            font-size: 12px;
        }
        &__input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 14px;
            padding: 0 8px;
            border-radius: $radius;
            height: 40px;
            box-shadow: $box-shadow;
            margin-right: 20px;
            transition: .2s ease;
            @media(max-width: $xs-devise) {
                width: auto;
                max-width: 100%;
                margin: 0 0 10px 0;
            }
            &:focus {
                box-shadow: $box-shadow-hover;
            }
            &_error {
                box-shadow: 0 0 0 2px $error;
                &:focus {
                    box-shadow: 0 0 0 2px $error;
                }
            }
        }
        &__btn {
            cursor: pointer;
            border: none;
            outline: none;
            padding: 11px 34px;
            box-shadow: $box-shadow;
            background: $white;
            color: $accent-text-color;
            border-radius: $radius;
            transition: .3s ease;
            &:hover {
                box-shadow: $box-shadow-hover;
            }
            &:disabled {
                cursor: not-allowed;
            }
        }
    }

</style>
