<template>
    <main class="main">
        <div>
            <app-header></app-header>
            <transition name="slide" mode="out-in">
                <app-content v-if="toggleVisibleCar && car"></app-content>
                <div v-else class="empty-content">
                    Введите номерной знак автомобиля для получения детальной информации
                </div>
            </transition>
        </div>
        <app-footer></app-footer>
    </main>
</template>

<script>
    import Header from "./components/Header.vue"
    import Footer from "./components/Footer.vue"
    import Content from "./components/Content.vue"

    import {mapState} from 'vuex'

    export default {
        computed: {
            ...mapState(['toggleVisibleCar', 'car'])
        },
        components: {
            appHeader: Header,
            appFooter: Footer,
            appContent: Content,
        }
    }
</script>

<style lang="scss">
    @import 'assets/css/vars.scss';

    .empty-content {
        text-align: center;
        padding: 77px 0;
    }

    .slide-enter-active {
        animation: slide-in 300ms ease-out forwards;
    }

    .slide-leave-active {
        animation: slide-out 300ms ease-out forwards;
    }

    @keyframes slide-in {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(-20px);
            opacity: 0;
        }
    }

    .nowrap {
        white-space: nowrap;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }



</style>
